html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	background: #111;
	margin: 0;
	padding: 0;
}

#wall{
	position: relative;
}
.cube{
	overflow: hidden;
	position: absolute;
}
.buffer_a,
.buffer_b{
	background-color: #202020;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

#origins{
	width: 0;
	height: 0;
	overflow: hidden;
}

@-webkit-keyframes fadeIn{
	0%   { opacity : 0; }
	100% { opacity : 1; }
}
@-webkit-keyframes fadeOut{
	0%   { opacity : 1; }
	100% { opacity : 0; }
}
@keyframes fadeIn{
	0%   { opacity : 0; }
	100% { opacity : 1; }
}
@keyframes fadeOut{
	0%   { opacity : 1; }
	100% { opacity : 0; }
}

@-webkit-keyframes moveTopIn{
	0%  { -webkit-transform: translate3d(0, 100%, 0); opacity: .3;}
	100%{ -webkit-transform: translate3d(0, 0, 0); opacity: 1;}
}
@-webkit-keyframes moveTopOut{
	0%  { -webkit-transform: translate3d(0, 0, 0);   }
	100%{ -webkit-transform: translate3d(0, -100%, 0); opacity: .3;}
}
@keyframes moveTopIn{
	0%  { transform: translate3d(0, 100%, 0); opacity: .3;}
	100%{ transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes moveTopOut{
	0%  { transform: translate3d(0, 0, 0);   }
	100%{ transform: translate3d(0, -100%, 0); opacity: .3;}
}

@-webkit-keyframes moveBottomIn{
	0%  { -webkit-transform: translate3d(0, -100%, 0); opacity: .3;}
	100%{ -webkit-transform: translate3d(0, 0, 0); opacity: 1;}
}
@-webkit-keyframes moveBottomOut{
	0%  { -webkit-transform: translate3d(0, 0, 0);   }
	100%{ -webkit-transform: translate3d(0, 100%, 0); opacity: .3;}
}
@keyframes moveBottomIn{
	0%  { transform: translate3d(0, -100%, 0); opacity: .3;}
	100%{ transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes moveBottomOut{
	0%  { transform: translate3d(0, 0, 0);   }
	100%{ transform: translate3d(0, 100%, 0); opacity: .3;}
}

@-webkit-keyframes moveLeftIn{
	0%  { -webkit-transform: translate3d(-100%, 0, 0); opacity: .3;}
	100%{ -webkit-transform: translate3d(0, 0, 0); opacity: 1;}
}
@-webkit-keyframes moveLeftOut{
	0%  { -webkit-transform: translate3d(0, 0, 0);   }
	100%{ -webkit-transform: translate3d(100%, 0, 0); opacity: .3;}
}
@keyframes moveLeftIn{
	0%  { transform: translate3d(-100%, 0, 0); opacity: .3;}
	100%{ transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes moveLeftOut{
	0%  { transform: translate3d(0, 0, 0);   }
	100%{ transform: translate3d(100%, 0, 0); opacity: .3;}
}

@-webkit-keyframes moveRightIn{
	0%  { -webkit-transform: translate3d(100%, 0, 0); opacity: .3;}
	100%{ -webkit-transform: translate3d(0, 0, 0); opacity: 1;}
}
@-webkit-keyframes moveRightOut{
	0%  { -webkit-transform: translate3d(0, 0, 0);   }
	100%{ -webkit-transform: translate3d(-100%, 0, 0); opacity: .3;}
}
@keyframes moveRightIn{
	0%  { transform: translate3d(100%, 0, 0); opacity: .3;}
	100%{ transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes moveRightOut{
	0%  { transform: translate3d(0, 0, 0);   }
	100%{ transform: translate3d(-100%, 0, 0); opacity: .3;}
}

@-webkit-keyframes scaleIn{
	0%  { -webkit-transform: scale3d(0, 0, 0); opacity: 0; }
	50% { -webkit-transform: scale3d(0, 0, 0); opacity: 0; }
	100%{ -webkit-transform: scale3d(1, 1, 1); opacity: 1; }
}
@-webkit-keyframes scaleOut{
	0%  { -webkit-transform: scale3d(1, 1, 1); opacity: 1; }
	50% { opacity: 1; }
	100%{ -webkit-transform: scale3d(3, 3, 3); opacity: .25; }
}
@keyframes scaleIn{
	0%  { transform: scale3d(0, 0, 0); opacity: 0; }
	50% { transform: scale3d(0, 0, 0); opacity: 0; }
	100%{ transform: scale3d(1, 1, 1); opacity: 1; }
}
@keyframes scaleOut{
	0%  { transform: scale3d(1, 1, 1); opacity: 1; }
	50% { opacity: 1; }
	100%{ transform: scale3d(3, 3, 3); opacity: .25; }
}